#heading {
    font-size: x-large;
    font-weight: 700;
}

#description {
    font-size: medium;
    font-weight: 200;
}

.carousel {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    margin: 0.5rem 0.5rem;
    scrollbar-width: none;
}

.main {
    margin: 1rem 2rem;
    padding-top: 1rem;
}