#top-column {
    width: 95%;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 10;
}

#upgrade {
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.navigation {
    font-size: xx-large;
}

.playlists {
    overflow-y: auto;
    height: calc(84vh);
    padding: 0rem 0.5rem;
    scrollbar-width: none;
}