#top-column {
    width: 95%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upgrade {
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}

.navigation {
    font-size: xx-large;
}